*{
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
html{
  font-size: 62.5%;
}
body{
  padding: 2rem;
  background-color: coral;
}
.header{
  text-align: center;
}
.header h1{
  font-size: 5rem;
}
.container{
  max-width: 1000px;
  margin: 100px auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.container .main-video-container{
  flex:1 1 600px;
  border-radius: 5px;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 5 15 rgba(0,0,0,.1);
}

.container .main-video-container .main-video{
  width: 100%;
}

.container .main-video-container .main-video-title{
  font-size: 2rem;
  color: #444;
  margin-top: 10px;
}
.container .video-list-container {
  flex: 1 1 350px;
  height: 450px;
  overflow-y: scroll;
  border-radius: 5px;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 5 15 rgba(0,0,0,.1);
  padding: 15px;
}
.container .video-list-container .list{
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.container .video-list-container .list.active{
  background-color: #444;
} 

.container .video-list-container .list.active .list-title{
  color: #fff;
} 
.container .video-list-container .list:last-child{
  margin-bottom: 0;
}

.container .video-list-container .list .list-video{
  width: 100px;
}

@media (max-width:1000px) {
  .container{
    flex-direction:column ;
  }
}
@media (max-width:624px){
  .main-video-container .main-video-title{
    font-size: 3rem;
  }
  .container .video-list-container .list.active .list-title{
    font-size: 2rem;
  }
}